.card {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
}

.card-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-weight: 600;
  letter-spacing: .1rem;
}

.card-price {
  font-weight: 500;
}

.title-section,
.card-info-section {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  left: 0;
  right: 0;
}

.title-section,
.card-info-section {
  padding: 1rem;
}

.title-section {
  top: 0;
}

.card-info-section {
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.card-options svg:last-child {
  margin-left: 1rem;
}